.container input {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 2em;  
}

.container {
	margin:2em;
}

div.group1, div.group2, div.group3, div.group4, div.group5, div.group6, div.group7{
    width: 70%;
    margin: 0 auto;
}
 
.fixed-header-on h2 {
    visibility: hidden;
}

.top-content {
    float: left;
    clear: right;
    margin-bottom: 1em;
}

.questions {
    clear:left;
}

#pop_up_one, #pop_up_two, #pop_up_three, #pop_up_four, #pop_up_five, #pop_up_six { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:800px;
    min-height: 540px;

}

.b-close {
    cursor:pointer;
    position:absolute;
    left: 360px;
    top:500px;
 
}

.progress {
    margin-top: 2em;
}

img.puppy{
    margin: auto;
}

.finish-section {
    margin-top:1em;
}