@{
    ViewBag.Title = "Stroop Test";

}

<link href="@Url.Content("~/Content/css/stroops.css")" rel="stylesheet" type="text/css" />

<div class="container">


<div class = "row">

    <h1 class ="col-xs-4">Stroop Test</h1>

</div>

<div class="row-centered row">

    <form class="stroop_test col-centered" action="" method="POST">

        <div class="stroop_question" id="stroop_question_1">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[0]" value="wrong" id="1"><label for="1">GREEN</label> <br>

            <input type="radio" name="question[0]" value="wrong" id="2"> <label for="2">BLUE</label> <br>

            <input type="radio" name="question[0]" value="right" id="3"> <label for="3">RED</label> <br>

            <input type="radio" name="question[0]" value="wrong" id="4"> <label for="4">BLACK</label> <br>


            <button class="btn" id="stroop_question_1_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_2">

            <h2 style="color: black;">GREEN</h2>

            <input type="radio" name="question[1]" value="wrong"> RED <br>

            <input type="radio" name="question[1]" value="wrong"> BLUE <br>

            <input type="radio" name="question[1]" value="right"> GREEN <br>

            <input type="radio" name="question[1]" value="wrong"> BLACK <br>

            <button id="stroop_question_2_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_3">

            <h2 style="color: grey;">PURPLE</h2>

            <input type="radio" name="question[2]" value="wrong"> RED <br>

            <input type="radio" name="question[2]" value="wrong"> BLUE <br>

            <input type="radio" name="question[2]" value="right"> GREEN <br>

            <input type="radio" name="question[2]" value="wrong"> BLACK <br>

            <button id="stroop_question_3_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_4">

            <h2 style="color: black;">ORANGE</h2>

            <input type="radio" name="question[3]" value="wrong"> RED <br>

            <input type="radio" name="question[3]" value="wrong"> BLUE <br>

            <input type="radio" name="question[3]" value="right"> GREEN <br>

            <input type="radio" name="question[3]" value="wrong"> BLACK <br>

            <button id="stroop_question_4_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_5">

            <h2 style="color: orange;">PURPLE</h2>

            <input type="radio" name="question[4]" value="wrong"> RED <br>

            <input type="radio" name="question[4]" value="wrong"> BLUE <br>

            <input type="radio" name="question[4]" value="right"> GREEN <br>

            <input type="radio" name="question[4]" value="wrong"> BLACK <br>

            <button id="stroop_question_5_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_6">

            <h2 style="color: yellow;">RED</h2>

            <input type="radio" name="question[5]" value="wrong"> RED <br>

            <input type="radio" name="question[5]" value="wrong"> BLUE <br>

            <input type="radio" name="question[5]" value="right"> GREEN <br>

            <input type="radio" name="question[5]" value="wrong"> BLACK <br>

            <button id="stroop_question_6_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_7">

            <h2 style="color: blue;">BLACK</h2>

            <input type="radio" name="question[6]" value="wrong"> RED <br>

            <input type="radio" name="question[6]" value="wrong"> BLUE <br>

            <input type="radio" name="question[6]" value="right"> GREEN <br>

            <input type="radio" name="question[6]" value="wrong"> BLACK <br>

            <button id="stroop_question_7_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_8">

            <h2 style="color: red;">BLUE</h2>

            <input type="radio" name="question[7]" value="wrong"> RED <br>

            <input type="radio" name="question[7]" value="wrong"> BLUE <br>

            <input type="radio" name="question[7]" value="right"> GREEN <br>

            <input type="radio" name="question[7]" value="wrong"> BLACK <br>

            <button id="stroop_question_8_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_9">

            <h2 style="color: yellow;">GREEN</h2>

            <input type="radio" name="question[8]" value="wrong"> RED <br>

            <input type="radio" name="question[8]" value="wrong"> BLUE <br>

            <input type="radio" name="question[8]" value="right"> GREEN <br>

            <input type="radio" name="question[8]" value="wrong"> BLACK <br>

            <button id="stroop_question_9_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_10">

            <h2 style="color: green;">BLUE</h2>

            <input type="radio" name="question[9]" value="wrong"> RED <br>

            <input type="radio" name="question[9]" value="wrong"> BLUE <br>

            <input type="radio" name="question[9]" value="right"> GREEN <br>

            <input type="radio" name="question[9]" value="wrong"> BLACK <br>

            <button id="stroop_question_10_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_11">

            <h2 style="color: yellow;">PURPLE</h2>

            <input type="radio" name="question[10]" value="wrong"> RED <br>

            <input type="radio" name="question[10]" value="wrong"> BLUE <br>

            <input type="radio" name="question[10]" value="right"> GREEN <br>

            <input type="radio" name="question[10]" value="wrong"> BLACK <br>

            <button id="stroop_question_11_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_12">

            <h2 style="color: blue;">RED</h2>

            <input type="radio" name="question[11]" value="wrong"> RED <br>

            <input type="radio" name="question[11]" value="wrong"> BLUE <br>

            <input type="radio" name="question[11]" value="right"> GREEN <br>

            <input type="radio" name="question[11]" value="wrong"> BLACK <br>

            <button id="stroop_question_12_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_13">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[12]" value="wrong"> RED <br>

            <input type="radio" name="question[12]" value="wrong"> BLUE <br>

            <input type="radio" name="question[12]" value="right"> GREEN <br>

            <input type="radio" name="question[12]" value="wrong"> BLACK <br>

            <button id="stroop_question_13_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_14">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[13]" value="wrong"> RED <br>

            <input type="radio" name="question[13]" value="wrong"> BLUE <br>

            <input type="radio" name="question[13]" value="right"> GREEN <br>

            <input type="radio" name="question[13]" value="wrong"> BLACK <br>

            <button id="stroop_question_14_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_15">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[14]" value="wrong"> RED <br>

            <input type="radio" name="question[14]" value="wrong"> BLUE <br>

            <input type="radio" name="question[14]" value="right"> GREEN <br>

            <input type="radio" name="question[14]" value="wrong"> BLACK <br>

            <button id="stroop_question_15_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_16">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[15]" value="wrong"> RED <br>

            <input type="radio" name="question[15]" value="wrong"> BLUE <br>

            <input type="radio" name="question[15]" value="right"> GREEN <br>

            <input type="radio" name="question[15]" value="wrong"> BLACK <br>

            <button id="stroop_question_16_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_17">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[16]" value="wrong"> RED <br>

            <input type="radio" name="question[16]" value="wrong"> BLUE <br>

            <input type="radio" name="question[16]" value="right"> GREEN <br>

            <input type="radio" name="question[16]" value="wrong"> BLACK <br>

            <button id="stroop_question_17_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_18">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[17]" value="wrong"> RED <br>

            <input type="radio" name="question[17]" value="wrong"> BLUE <br>

            <input type="radio" name="question[17]" value="right"> GREEN <br>

            <input type="radio" name="question[17]" value="wrong"> BLACK <br>

            <button id="stroop_question_18_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_19">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[18]" value="wrong"> RED <br>

            <input type="radio" name="question[18]" value="wrong"> BLUE <br>

            <input type="radio" name="question[18]" value="right"> GREEN <br>

            <input type="radio" name="question[18]" value="wrong"> BLACK <br>

            <button id="stroop_question_19_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_20">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="question[19]" value="wrong"> RED <br>

            <input type="radio" name="question[19]" value="wrong"> BLUE <br>

            <input type="radio" name="question[19]" value="right"> GREEN <br>

            <input type="radio" name="question[19]" value="wrong"> BLACK <br>

            <input type="submit" name="submit" value="Finished!">

        </div>

    </form>

</div>

</div>

<script src="@Url.Content("~/Scripts/js/stroop.js")"></script>