@{
    ViewBag.Title = "Stroop Test";

}

<link href="@Url.Content("~/Content/css/stroops.css")" rel="stylesheet" type="text/css" />

<div class="container">


<div class = "row">

    <h1 class ="col-xs-4">Stroop Test</h1>

</div>

<div class="row-centered row">

    <form class="stroop_test col-centered" action="" method="POST">

        <div class="stroop_question" id="stroop_question_1">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="questions[0]" value="wrong" id="q1a"><label for="q1a">GREEN</label> <br>

            <input type="radio" name="questions[0]" value="wrong" id="q1b"> <label for="q1b">BLUE</label> <br>

            <input type="radio" name="questions[0]" value="right" id="q1c"> <label for="q1c">RED</label> <br>

            <input type="radio" name="questions[0]" value="wrong" id="q1d"> <label for="q1d">BLACK</label> <br>


            <button class="btn-success" id="stroop_question_1_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_2">

            <h2 style="color: black;">GREEN</h2>

            <input type="radio" name="questions[1]" value="wrong" id="q2a"> <label for="q2a">RED</label> <br>

            <input type="radio" name="questions[1]" value="wrong" id="q2b"> <label for="q2b">BLUE</label> <br>

            <input type="radio" name="questions[1]" value="right" id="q2c"> <label for="q2c">GREEN</label> <br>

            <input type="radio" name="questions[1]" value="wrong" id="q2d"> <label for="q2d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_2_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_3">

            <h2 style="color: grey;">PURPLE</h2>

            <input type="radio" name="questions[2]" value="wrong" id="q3a"> <label for="q3a">RED</label> <br>

            <input type="radio" name="questions[2]" value="wrong" id="q3b"> <label for="q3b">BLUE</label> <br>

            <input type="radio" name="questions[2]" value="right" id="q3c"> <label for="q3c">GREY</label> <br>

            <input type="radio" name="questions[2]" value="wrong" id="q3d"> <label for="q3d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_3_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_4">

            <h2 style="color: black;">ORANGE</h2>

            <input type="radio" name="questions[3]" value="wrong" id="q4a"> <label for="q4a">RED</label> <br>

            <input type="radio" name="questions[3]" value="wrong" id="q4b"> <label for="q4b">BLUE</label> <br>

            <input type="radio" name="questions[3]" value="wrong" id="q4c"> <label for="q4c">GREEN</label> <br>

            <input type="radio" name="questions[3]" value="right" id="q4d"> <label for="q4d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_4_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_5">

            <h2 style="color: orange;">PURPLE</h2>

            <input type="radio" name="questions[4]" value="wrong" id="q5a"> <label for="q5a">RED</label> <br>

            <input type="radio" name="questions[4]" value="wrong" id="q5b"> <label for="q5b">BLUE</label> <br>

            <input type="radio" name="questions[4]" value="right" id="q5c"> <label for="q5c">ORANGE</label> <br>

            <input type="radio" name="questions[4]" value="wrong" id="q5d"> <label for="q5d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_5_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_6">

            <h2 style="color: yellow;">RED</h2>

            <input type="radio" name="questions[5]" value="wrong" id="q6a"> <label for="q6a">RED</label> <br>

            <input type="radio" name="questions[5]" value="right" id="q6b"> <label for="q6b">YELLOW</label> <br>

            <input type="radio" name="questions[5]" value="wrong" id="q6c"> <label for="q6c">BLUE</label> <br>

            <input type="radio" name="questions[5]" value="wrong" id="q6d"> <label for="q6d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_6_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_7">

            <h2 style="color: blue;">BLACK</h2>

            <input type="radio" name="questions[6]" value="wrong" id="q7a"> <label for="q7a">RED</label> <br>

            <input type="radio" name="questions[6]" value="right" id="q7b"> <label for="q7b">BLUE</label> <br>

            <input type="radio" name="questions[6]" value="wrong" id="q7c"> <label for="q7c">GREEN</label> <br>

            <input type="radio" name="questions[6]" value="wrong" id="q7d"> <label for="q7d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_7_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_8">

            <h2 style="color: red;">BLUE</h2>

            <input type="radio" name="questions[7]" value="right" id="q8a"> <label for="q8a">RED</label> <br>

            <input type="radio" name="questions[7]" value="wrong" id="q8b"> <label for="q8b">BLUE</label> <br>

            <input type="radio" name="questions[7]" value="wrong" id="q8c"> <label for="q8c">GREEN</label> <br>

            <input type="radio" name="questions[7]" value="wrong" id="q8d"> <label for="q8d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_8_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_9">

            <h2 style="color: yellow;">GREEN</h2>

            <input type="radio" name="questions[8]" value="wrong" id="q9a"> <label for="q9a">RED</label> <br>

            <input type="radio" name="questions[8]" value="wrong" id="q9b"> <label for="q9b">BLUE</label> <br>

            <input type="radio" name="questions[8]" value="wrong" id="q9c"> <label for="q9c">GREEN</label> <br>

            <input type="radio" name="questions[8]" value="right" id="q9d"> <label for="q9d">YELLOW</label>  <br>

            <button class="btn-success" id="stroop_question_9_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_10">

            <h2 style="color: green;">BLUE</h2>

            <input type="radio" name="questions[9]" value="wrong" id="q10a"> <label for="q10a">RED</label> <br>

            <input type="radio" name="questions[9]" value="wrong" id="q10b"> <label for="q10b">BLUE</label> <br>

            <input type="radio" name="questions[9]" value="right" id="q10c"> <label for="q10c">GREEN</label> <br>

            <input type="radio" name="questions[9]" value="wrong" id="q10d"> <label for="q10d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_10_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_11">

            <h2 style="color: yellow;">PURPLE</h2>

            <input type="radio" name="questions[10]" value="wrong" id="q11a"> <label for="q11a">RED</label> <br>

            <input type="radio" name="questions[10]" value="wrong" id="q11b"> <label for="q11b">BLUE</label> <br>

            <input type="radio" name="questions[10]" value="wrong" id="q11c"> <label for="q11c">GREEN</label> <br>

            <input type="radio" name="questions[10]" value="right" id="q11d"> <label for="q11d">YELLOW</label> <br>

            <button class="btn-success" id="stroop_question_11_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_12">

            <h2 style="color: blue;">RED</h2>

            <input type="radio" name="questions[11]" value="wrong" id="q12a"> <label for="q12a">RED</label> <br>

            <input type="radio" name="questions[11]" value="right" id="q12b"> <label for="q12b">BLUE</label> <br>

            <input type="radio" name="questions[11]" value="wrong" id="q12c"> <label for="q12c">GREEN</label> <br>

            <input type="radio" name="questions[11]" value="wrong" id="q12d"> <label for="q12d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_12_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_13">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="questions[12]" value="right" id="q13a"> <label for="q13a">RED</label> <br>

            <input type="radio" name="questions[12]" value="wrong" id="q13b"> <label for="q13b">BLUE</label> <br>

            <input type="radio" name="questions[12]" value="wrong" id="q13c"> <label for="q13c">GREEN</label> <br>

            <input type="radio" name="questions[12]" value="wrong" id="q13d"> <label for="q13d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_13_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_14">

            <h2 style="color: red;">BLUE</h2>

            <input type="radio" name="questions[13]" value="right" id="q14a"> <label for="q14a">RED</label> <br>

            <input type="radio" name="questions[13]" value="wrong" id="q14b"> <label for="q14b">BLUE</label> <br>

            <input type="radio" name="questions[13]" value="wrong" id="q14c"> <label for="q14c">GREEN</label> <br>

            <input type="radio" name="questions[13]" value="wrong" id="q14d"> <label for="q14d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_14_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_15">

            <h2 style="color: green;">BLACK</h2>

            <input type="radio" name="questions[14]" value="wrong" id="q15a"> <label for="q15a">RED</label> <br>

            <input type="radio" name="questions[14]" value="wrong" id="q15b"> <label for="q15b">YELLOW</label> <br>

            <input type="radio" name="questions[14]" value="right" id="q15c"> <label for="q15c">GREEN</label> <br>

            <input type="radio" name="questions[14]" value="wrong" id="q15d"> <label for="q15d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_15_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_16">

            <h2 style="color: black;">BLACK</h2>

            <input type="radio" name="questions[15]" value="wrong" id="q16a"> <label for="q16a">GREEN</label> <br>

            <input type="radio" name="questions[15]" value="wrong" id="q16b"> <label for="q16b">BLUE</label> <br>

            <input type="radio" name="questions[15]" value="wrong" id="q16c"> <label for="q16c">RED</label> <br>

            <input type="radio" name="questions[15]" value="right" id="q16d"> <label for="q16d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_16_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_17">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="questions[16]" value="right" id="q17a"> <label for="q17a">RED</label> <br>

            <input type="radio" name="questions[16]" value="wrong" id="q17b"> <label for="q17b">BLUE</label> <br>

            <input type="radio" name="questions[16]" value="wrong" id="q17c"> <label for="q17c">GREEN</label> <br>

            <input type="radio" name="questions[16]" value="wrong" id="q17d"> <label for="q17d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_17_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_18">

            <h2 style="color: purple;">BLACK</h2>

            <input type="radio" name="questions[17]" value="wrong" id="q18a"> <label for="q18a">RED</label> <br>

            <input type="radio" name="questions[17]" value="right" id="q18b"> <label for="q18b">PURPLE</label> <br>

            <input type="radio" name="questions[17]" value="wrong" id="q18c"> <label for="q18c">GREEN</label> <br>

            <input type="radio" name="questions[17]" value="wrong" id="q18d"> <label for="q18d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_18_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_19">

            <h2 style="color: black;">BLACK</h2>

            <input type="radio" name="questions[18]" value="wrong" id="q19a"> <label for="q19a">RED</label> <br>

            <input type="radio" name="questions[18]" value="wrong" id="q19b"> <label for="q19b">BLUE</label> <br>

            <input type="radio" name="questions[18]" value="wrong" id="q19c"> <label for="q19c">GREEN</label> <br>

            <input type="radio" name="questions[18]" value="right" id="q19d"> <label for="q19d">BLACK</label> <br>

            <button class="btn-success" id="stroop_question_19_finish">Next</button>

        </div>

        <div class="stroop_question" id="stroop_question_20">

            <h2 style="color: red;">BLACK</h2>

            <input type="radio" name="questions[19]" value="right" id="q20a"> <label for="q20a">RED</label> <br>

            <input type="radio" name="questions[19]" value="wrong" id="q20b"> <label for="q20b">BLUE</label> <br>

            <input type="radio" name="questions[19]" value="wrong" id="q20c"> <label for="q20c">GREEN</label> <br>

            <input type="radio" name="questions[19]" value="wrong" id="q20d"> <label for="q20d">BLACK</label> <br>

            <input type="hidden" id="testDuration" value="0" name="testDuration" />
            <input class="btn-success" type="submit" name="submit" value="Finished!">

        </div>


    </form>

</div>

</div>


<div class="modal fade" id="stroopDescription">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-1-label">Stroop Test</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>This test is designed to help assess your attention span.</p>
                        <p>
                            In order to complete this test, please select the color the large text, NOT what the text says.
                        </p>
                            For example: <h2 style ="color: green">RED</h2>  The correct answer is GREEN.

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="startTestTimer()">Start</button>
            </div>
        </div>
    </div>
</div>


<script>
    function startTestTimer() {
        setInterval(function () {
            var currentTime = parseInt($("#testDuration").val(), 10);
            currentTime += 1;
            $('#testDuration').val(currentTime);
        }, 1000);
    }
</script>

<script src="@Url.Content("~/Scripts/js/stroop.js")"></script>