@if(Request.IsAuthenticated) {
        <div class="row" style="margin-right:10px;">
            <ul class="nav navbar-nav navbar-right">
                <li>Welcome, @User.Identity.Name!</li>
            </ul>
        </div>
        <div class="row">
            <ul style="display:block" class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href="/Account/LogOff">Sign Out</a></li>
            </ul>
        </div>
}
else {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li><a href="home#about">About</a></li>
            <li><a href="/Account/LogOn">Login</a></li>
        </ul>
}
