@{
    ViewBag.Title = "Video Archive";
}
<link href="@Url.Content("~/Content/css/videostyle.css")" type="text/css" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/sidebarstyle.css")" type="text/css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row-fluid">
        @Html.Partial("_PartialSideBar")
        <div class="col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#busBoyModal">
                                            <img src="http://i.ytimg.com/vi/IzsJktw55J8/mqdefault.jpg" alt="Bus People" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Bus Boy</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="busBoyModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-bus-boy" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-bus-boy">Life of a Bus Boy</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#chefModal">
                                            <img src="http://i.ytimg.com/vi/awFamp3rK6U/mqdefault.jpg" alt="Chef" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Chef</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="chefModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-chef" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-chef">Life of a Chef</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#accountantModal">
                                            <img src="http://i.ytimg.com/vi/GdUPTnYbhHw/mqdefault.jpg" alt="Accountant" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of an Accountant</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="accountantModal" tabindex="-1" role="dialog" aria-labelledby="life-of-an-accountant" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-an-accountant">Life of an Accountant</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#photographerModal">
                                            <img src="http://i.ytimg.com/vi/TwJTt5EaBCU/mqdefault.jpg" alt="Photographer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Photographer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="photographerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-photographer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-photographer">Life of a Photographer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#filmcomposerModal">
                                            <img src="http://i.ytimg.com/vi/pDhZPFGZbZg/mqdefault.jpg" alt="Film Composer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Film Composer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="filmcomposerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-film-composer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-film-composer">Life of a Film Composer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#journalistModal">
                                            <img src="http://i.ytimg.com/vi/yJuJuxfOM9M/mqdefault.jpg" alt="Journalist" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Journalist</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="journalistModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-journalist" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-journalist">Life of a Journalist</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#gamedesignerModal">
                                            <img src="http://i.ytimg.com/vi/c0o6BPYKBiA/mqdefault.jpg" alt="Video Game Designer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Video Game Designer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="gamedesignerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-video-game-designer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-video-game-designer">Life of a Video Game Designer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#softengineerModal">
                                            <img src="http://i.ytimg.com/vi/vt79JcPfZQA/mqdefault.jpg" alt="Software Engineer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Software Engineer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="softengineerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-software-engineer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-software-engineer">Life of a Software Engineer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#mechengineerModal">
                                            <img src="http://i.ytimg.com/vi/ocqceS7KlzE/mqdefault.jpg" alt="Mechanical Engineer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Mechanical Engineer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="mechengineerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-mechanical-engineer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-mechanical-engineer">Life of a Mechanical Engineer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#healthcareModal">
                                            <img src="http://i.ytimg.com/vi/-JcQEQd8hkY/mqdefault.jpg" alt="Healthcare Administrator" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Healthcare Administrator</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="healthcareModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-healthcare-administrator" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-healthcare-administrator">Life of a Healthcare Administrator</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#labModal">
                                            <img src="http://i.ytimg.com/vi/AqNAxCyTh-c/mqdefault.jpg" alt="Laboratory Technician" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Laboratory Technician</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="labModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-laboratory-technician" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-laboratory-technician">Life of a Laboratory Technician</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#autotechModal">
                                            <img src="http://i.ytimg.com/vi/BDcW1r5ociM/mqdefault.jpg" alt="Auto Technician" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of an Auto Technician</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="autotechModal" tabindex="-1" role="dialog" aria-labelledby="life-of-an-auto-technician" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-an-auto-technician">Life of an Auto Technician</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default btn-block center" data-toggle="modal" data-target="#farmerModal">
                                            <img src="http://i.ytimg.com/vi/RFBi7RJFndM/mqdefault.jpg" alt="Farmer" class="center-block" />
                                        </a>
                                        <h3 class="imageLabel">Life of a Farmer</h3>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="farmerModal" tabindex="-1" role="dialog" aria-labelledby="life-of-a-farmer" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="life-of-a-farmer">Life of a Farmer</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal end -->
                                </div>
                            </div>
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
