@{
    ViewBag.Title = "Craft";
}
<div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                    <h1 class="text-center"><span style="font-size: 2em;">Craft</span></h1>
                    <p class="lead text-center">Craft your Future.</p>
                    <div class="text-center">
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-default" })
                            @Html.ActionLink("Login", "LogOn", "Account", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION START -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center"><span>About Craft</span></h1>
                <p class="lead text-center">We are a career development website dedicated to helping autistic adults find and pursue careers</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-cog"></i>
                            </div>
                            <div class="media-body text-left">
                                <h4 class="media-heading">Assessment</h4>
                                <p>Discover skills, interests, motivations, and experience through an assessment of Myers-Briggs Personality and Stroops tests</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body text-left">
                                <h4 class="media-heading">Career Exploration</h4>
                                <p>Explore and learn about careers through video diaries and informational interviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="media-body text-left">
                                <h4 class="media-heading">Self-marketing Action</h4>
                                <p>Practice resume building, job searching, and interviewing skills to help seek and obtain job experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="media-body text-left">
                                <h4 class="media-heading">Decision Making</h4>
                                <p>Choose a career path that best suits you and your interests </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KXNB_l1R4Wg" frameborder="0" class="center-block"></iframe>
        </div>
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="default-bg space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">150+ Facebook Likes!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- footer start -->
<!-- ================ -->
<footer id="footer">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer section" style="padding-bottom: 0px;">
        <div class="container">
            <h1 class="title text-center" id="contact">@Html.ActionLink("Sign Up", "Register", "Account") to Craft your Future! </h1>
            <div class="space"></div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title text-center">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul style="margin-bottom:0px;" class="list-icons text-center">
                        <li style="padding-bottom:0px"><i class="fa fa-map-marker pr-10"></i>University of California: Irvine</li>
                    </ul>
                    <ul style="margin-top:0px" class="social-links text-center">
                        <li class="facebook"><a target="_blank" href="http://facebook.com/craftapplication"><i class="fa fa-facebook"></i>acebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o pr-10"></i><a href="mailto:fphong@uci.edu">Francis Hong: fphong@uci.edu</a>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o pr-10"></i><a href="mailto:peterhn2@uci.edu">Peter Nguyen: peterhn2@uci.edu</a>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o pr-10"></i><a href="mailto:gabrielcchow@gmail.com">Gabriel Chow: gabrielcchow@gmail.com</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 text-center">
                    <i class="fa fa-envelope-o pr-10"></i><a href="mailto:brandodl@uci.edu">Brandon Lim: brandodl@uci.edu</a>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="fa fa-envelope-o pr-10"></i><a href="mailto:tltran1@uci.edu">Thanh Tran: tltran1@uci.edu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>
<!-- footer end -->

<script>

    $(document).ready(function () {
        $('#headerNavbar').addClass('navbar-fixed-top');
    });

    //Scroll Spy
    //-----------------------------------------------
    $(window).scroll(function () {
        if (($(".header.fixed").length > 0)) {
            if (($(this).scrollTop() > 0) && ($(window).width() > 767)) {
                $("body").addClass("fixed-header-on");
            } else {
                $("body").removeClass("fixed-header-on");
            }
        };
    });

    $(window).load(function () {
        if (($(".header.fixed").length > 0)) {
            if (($(this).scrollTop() > 0) && ($(window).width() > 767)) {
                $("body").addClass("fixed-header-on");
            } else {
                $("body").removeClass("fixed-header-on");
            }
        };
    });

</script>
