@{
    ViewBag.Title = "Craft";
}
<div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                    <h1 class="text-center"><span style="font-size: 2em;">Craft</span></h1>
                    <p class="lead text-center">Craft your Future.</p>
                    <div class="text-center">
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-default" })
                            @Html.ActionLink("Login", "LogOn", "Account", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION START -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center"><span>Career Development Process</span></h1>
                <p class="lead text-center">A simple four step process in achieving a successful career</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3">
                        <h3>1) Assessment</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>2) Career Exploration</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>3) Self-marketing Action</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>4) Decision Making</h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services" class="text-center title">Worthy Services</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-desktop"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="space visible-xs"></div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 5</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 6</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-codepen"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 8</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="clients" class="title text-center">Testimonials</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">You are Amazing!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Yeah!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Amazing!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Best!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="default-bg space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">31+ Facebook Likes!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- footer start -->
<!-- ================ -->
<footer id="footer">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer section">
        <div class="container">
            <h1 class="title text-center" id="contact">Sign-up Now to Craft Your Future</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-content">

                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-md-4">
                    <ul class="list-icons">
                        <li><i class="fa fa-map-marker pr-10"></i>University of California: Irvine</li>
                        <li><i class="fa fa-phone pr-10"></i>+1 (415) 676-7087</li>
                        <li><i class="fa fa-envelope-o pr-10"></i><a href="mailto:fphong@uci.edu">fphong@uci.edu</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="social-links">
                        <li class="facebook"><a target="_blank" href="http://facebook.com/craftapplication"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>
<!-- footer end -->

<script>

    $(document).ready(function () {
        $('#headerNavbar').addClass('navbar-fixed-top');
    });

    //Scroll Spy
    //-----------------------------------------------
    $(window).scroll(function () {
        if (($(".header.fixed").length > 0)) {
            if (($(this).scrollTop() > 0) && ($(window).width() > 767)) {
                $("body").addClass("fixed-header-on");
            } else {
                $("body").removeClass("fixed-header-on");
            }
        };
    });

    $(window).load(function () {
        if (($(".header.fixed").length > 0)) {
            if (($(this).scrollTop() > 0) && ($(window).width() > 767)) {
                $("body").addClass("fixed-header-on");
            } else {
                $("body").removeClass("fixed-header-on");
            }
        };
    });

</script>
