@model AutismAppJam.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<style>

    .body {
        margin-top: 6em;
    }

    button {
        margin: 1em;
    }

    .centerJumbo {
        text-align: center;
        background-color: #FFFFFF;
    }


</style>

<div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-2">
                <h2>@Model.User.UserName</h2>
                <!--Sidebar content-->
                <img src="http://4.bp.blogspot.com/-8YBb5R5WDMI/T9JSlpwadKI/AAAAAAAAAWU/Z1lBDy3onms/s1600/sashimiSalmonTuna.jpg" alt="@User.Identity.Name" class="img-thumbnail img-responsive center-block"/>
                <button type="button" class="btn btn-default active">Profile</button>
                <button type="button" class="btn btn-default">Video Archive</button>
                <button type="button" class="btn btn-default">Interview Prep</button>
                <button type="button" class="btn btn-default">Career Stories</button>
                
            </div>
            <div class="col-lg-10">
                <br />
                <br />
                <!--Body content-->
                
                @*@if (Model.MBTITestId == null)
                {
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="jumbotron centerJumbo">
                                <h1>Let's get started!</h1>
                                <p>Welcome to Craft! The first thing you should do is take the personality test. It is the first step to determining the career that fits you!</p>
                                <p>@Html.ActionLink("Take the Test", "Index", "MBTITest", null, new { @class = "btn btn-primary btn-lg" })</p>
                            </div>


                        </div>
                    </div>
                }
                else
                {
                    
                }*@
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h1>TYPE: INTJ</h1>
                        <h2><q>The Architect</q></h2>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</div>
