@{
    ViewBag.Title = "Dashboard";
}

<style>

    .body {
        margin-top: 6em;
    }

    button {
        margin: 1em 0;
    }

    .centerJumbo {
        text-align: center;
        background-color: #FFFFFF;
    }

</style>

<div class= "body">
<h2>Index</h2>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-2">
                <!--Sidebar content-->
                <img src="http://4.bp.blogspot.com/-8YBb5R5WDMI/T9JSlpwadKI/AAAAAAAAAWU/Z1lBDy3onms/s1600/sashimiSalmonTuna.jpg" alt="hello" class="img-thumbnail img-responsive center-block"/>
                <button type="button" class="btn btn-default">Edit Profile</button>

                <button type="button" class="btn btn-default">Retake Test</button>
                
            </div>
            <div class="col-lg-10">
                <!--Body content-->
                
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="jumbotron centerJumbo">
                            <h1>Let's get started!</h1>
                            <p>Welcome to pymetrics! The first thing you should do is play the pymetrics neuroscience-based games. They are lots of fun and provide very interesting insights about yourself</p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">Take the Test</a></p>
                        </div>


                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
